
table {
  width: 100%;
  height:375px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 93%;
  /* margin-right: 50px; */
  margin-left: 50px;
}
.text{
  width:10%;
  margin-top:55px;
  
 
}
td, th {
  width: -1%;

}

mat-form-field{
  padding-top: 5px;
  width:20%;
  
}
.main{
  padding-top: 60px;
  float: right;
  
}
.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}
.mat-elevation-z8{
  margin:50px;
  margin-top:-7px;
}
.mat-mdc-raised-button:not(:disabled) {
  background-color: #5c805a;
  margin-right: 57px;
 color:aliceblue;
}
.fa-solid{
  margin:13px;
}
.material-symbols-outlined {
  color:white;
 
  
}
.dropdown-toggle::after{
  color:white;
  
}
.navbar-expand .navbar-collapse{
  margin-left:50px;
}
.nav-link {
margin-right:100px;
}
.main[_ngcontent-uim-c260]{
  padding-top:-33px;
}
.main{
  padding-top: -33px;
  float: right;
  
}

.mat-mdc-raised-button:not(:disabled){
  background-color: #5c805a;
  color: aliceblue;
  margin-top:-165px;
}